@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #121212;
  --foreground: #ededed;
}

html, body {
  width: 100%;
}

body {
  background: linear-gradient(
    to bottom,
    #C0876E 0%,
    #C0876E 25%,
    #EAA286 45%,
    #F4E3D3 65%,
    #FDF3ED 85%,
    #FFFFFF 100%
  );
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

/* Custom scrollbar for webkit */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
